.presentation {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-image: url('./../../assets/commons/pinkBackground.svg');
    background-size: cover;
    padding-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.imLeila {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imLeila>p {
    text-align: center;
    color: white;
    width: 60%;
    height: 60%;
    font-size: 20px;
    display: block;
    opacity: 0;
    animation: reveal 1s forwards;
    animation-delay: 3.7s;
}

@keyframes reveal {
    from {
        transform: translateY(100px)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.imLeila>video {
    margin-top: 20px;
    object-fit: cover;
    height: 40%;
    width: 100%;
}

.imLeila>h1 {
    padding: 0;
    position: absolute;
    margin-top: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
    height: 50%;
    text-align: center;
    color: #ddd;
    font-size: 4.6em;
    letter-spacing: .1em;
}

.imLeila>h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
    -webkit-animation: animate 1s linear forwards;
}

@keyframes animate {

    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

.imLeila>h1 span:nth-child(1) {
    animation-delay: .1s;
}

.imLeila>h1 span:nth-child(2) {
    animation-delay: .2s;
}

.imLeila>h1 span:nth-child(3) {
    animation-delay: .3s;
}

.imLeila>h1 span:nth-child(4) {
    animation-delay: .4s;
}

.imLeila>h1 span:nth-child(5) {
    animation-delay: .5s;
}

.imLeila>h1 span:nth-child(6) {
    animation-delay: .6s;
}

.imLeila>h1 span:nth-child(6) {
    animation-delay: .7s;
}

.imLeila>h1 span:nth-child(7) {
    animation-delay: .8s;
}

.imLeila>h1 span:nth-child(8) {
    animation-delay: .9s;
}

.imLeila>h1 span:nth-child(9) {
    animation-delay: 1s;
}

.imLeila>h1 span:nth-child(10) {
    animation-delay: 1.3s;
}

.imLeila>h1 span:nth-child(11) {
    animation-delay: 1.5s;
}

.imLeila>h1 span:nth-child(12) {
    animation-delay: 1.7s;
}

.imLeila>h1 span:nth-child(13) {
    animation-delay: 2s;
}

.imLeila>h1 span:nth-child(14) {
    animation-delay: 2.4s;
}

.imLeila>h1 span:nth-child(15) {
    animation-delay: 2.6s;
}

.imLeila>h1 span:nth-child(16) {
    animation-delay: 2.8s;
}

.imLeila>h1 span:nth-child(17) {
    animation-delay: 3s;
}

.imLeila>h1 span:nth-child(18) {
    animation-delay: 3.2s;
}

.imLeila>h3 {
    margin-top: -100px;
    height: 100px;
    color: fuchsia;
    font-size: 30px;
    font-weight: lighter;
    display: block;
    opacity: 0;
    animation: reveal 1s forwards;
    animation-delay: 2.4s;
}

.imgContainer {
    width: 21%;
    height: 750px;
    opacity: 0;
    background-color: rgb(11, 11, 11);
    overflow: hidden;
    display: inline-block;
    animation: animate 4s linear forwards;
    -webkit-animation: animate 1s linear forwards;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    animation-delay: 4s;
    background-image: url('./../../assets/presentation/profil2.png');
    background-position-x: -180px;
    background-size: 780px 750px;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1000px) {

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imLeila {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    .imLeila>video {
        margin: 0;
        height: 100px;
    }

    .imLeila>h1 {
        width: 90%;
        height: 50px;
        font-size: 40px !important;
        top: 180px;
    }

    .imgContainer {
        background-size: 340px 340px;
        background-position-x: 0px;
        clip-path: none;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-top: 30px;
    }

    .imLeila>h3 {
        padding-top: 120px;
        font-size: 20px;
        height: 30px;
    }

    .imLeila>p {
        width: 90%;
        font-size: 16px;
        height: 200px;
    }
}

@media only screen and (max-width: 600px) {

    .imLeila>h1 {
        font-size: 30px !important;
    }

    .imgContainer {
        margin-top: 100px;
    }
}