main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.projectsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.project {
    width: 30%;
    height: 90%;
    display: grid;
    grid-template-rows: 13% 38% 39% 7%;
    justify-items: center;
    box-shadow: 4px 5px 6px rgb(254, 84, 254);
    text-align: center;
    background-color: #e6f8ff;
    border: solid 1.5px rgb(8, 8, 8);
    border-radius: 40px;
    margin-bottom: 5%;
    font-size: 0.9em;
}

.project>h4 {
    text-align: center;
    font-size: 2rem;
}

.project>video {
    width: 90%;
}

.project>p {
    width: 90%;
    font-size: 1.1em;
}

.project>a {
    padding-top: 10px;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    width: 50%;
    height: 35px;
    border: solid 1px #901887;
    color: #901887;
    border-radius: 10px;
    position: relative;
    background-color: #fbdffd;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-weight: bold;
}

.project>a::after {
    content: "";
    background: radial-gradient(circle, rgb(246, 191, 245) 30%, rgb(234, 97, 230) 100%);
    position: absolute;
    z-index: -1;
    color: black;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.project>a:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

@media only screen and (max-width: 1300px) {

    .project {
        height: 95%;
        grid-template-rows: 10% 22% 54% 6%;
        row-gap: 10px;
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 1125px) {

    .project>h4 {
        text-align: center;
        font-size: 2em;
    }

    .project {
        height: 90%;
        grid-template-rows: 10% 21% 54% 8%;
        row-gap: 10px;
        font-size: 0.82em;
    }
}

@media only screen and (max-width: 950px) {

    main {
        height: max-content;
    }

    .project {
        width: 85%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 0.82em;
    }

    .project>video {
        width: 90%;
    }

    .project>h4 {
        font-size: 2em;
        height: 20px;
    }

    .project>a {
        width: 55%;
        height: 30px;
        margin-bottom: 20px;
    }
}