.formContainer {
    width: 80%;
    display: grid;
    padding-left: 50px;
    grid-template-columns: 50% 50%;
    row-gap: 15px;
    column-gap: 30px;
    grid-template-rows: 40px repeat(2, 70px) 120px 50px;
}

.formContainer>h2 {
    grid-column: 1 / 3;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.formContainer>div {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.formContainer>div:has(.message),
.formContainer>div:has(.email) {
    grid-column: 1 / 3;
}


.formContainer>div>label {
    color: white;
    text-align: start;
    padding-left: 10px;
}

.formContainer>div>input {
    padding-left: 10px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid fuchsia;
    font-size: 18px;
}

.message {
    font-size: 18px;
    padding-left: 10px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid fuchsia;
    resize: none;
    height: 75px;
    padding-top: 15px;
}

.formContainer>button {
    grid-column: 1 / 3;
    width: 103%;
    background-color: fuchsia;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    border: none;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.formContainer>button::after {
    content: "";
    background: #ffadff;
    position: absolute;
    z-index: -1;
    color: black;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.formContainer>button:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

.formContainer>button:disabled {
    filter: grayscale(1);
    color: white;
    cursor: not-allowed;
}

@media only screen and (max-width: 900px) {

    .formContainer {
        display: grid;
        /* justify-content: space-evenly; */
        /* align-self: center; */
        width: 70%;
        row-gap: 10px;

    }

    .formContainer>button {
        width: 85%;
    }

    .formContainer>h2 {
        height: 300px;
    }

    .formContainer>input {
        height: 85%;
    }

    .message {
        height: 85%;
    }
}