.skillsSection {
    height: 100%;
    width: 100%;
    background: #fdb1fd;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding-bottom: 200px;
}

.skillsSection>h1 {
    text-align: center;
    padding-top: 40px;
    width: 50%;
    height: 70%;
    font-family: "Berkshire Swash", serif !important;
    font-weight: 400;
    font-size: 8em;
    color: black !important;
    text-shadow: 3px 3px 10px rgb(235, 235, 235) !important;
    transform: rotate(-10deg);
}

.skillsSection>h1::after,
.skillsSection>h1::before {
    content: '';
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: -20px;
}

.skillsSection>h1::after {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 20"%3E%3Cpath d="M0,20 Q50,10 130,10 T230,30" stroke="%23ffcc00" stroke-width="10" fill="none" /%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -20px;
    height: 30px;
}

.skillsSection>h1::before {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 20"%3E%3Cpath d="M0,30 Q50,10 130,10 T230,50" stroke="%23ffcc00" stroke-width="10" fill="none" /%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 40px;
    bottom: -40px;
    height: 20px;
}

/* .skillsSection>h1::before {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 70%);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: -10px;
    left: 10px;
} */

/* .skillsSection>h1::after {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 70%);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 80px;
    left: 50px;
} */

/* .skillsSection>h1::before {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 70%);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 90px;
}

.skillsSection>h1::after {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 70%);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 90px;
    left: 150px;
} */

.skillsContainer {
    z-index: 2;
    right: 80px;
    top: 1050px;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 47%;
    margin: auto;
    padding-right: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -7px;
}

.typeSkill {
    flex-basis: 17%;
    height: 60%;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 5px;
    display: flex;
    background-color: #e6f8ff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition:
        flex-grow .2s linear,
        background-color .3s ease;
}

.typeSkill>span {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.typeSkill>img {
    padding-right: 10px;
    width: 2.3em;
}

.typeSkill:hover {
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 14px;
}

.typeSkill:hover>span {
    display: none;
}

.typeSkill:hover>img {
    display: none;
}

.skill {
    width: 0px;
}

.skill>img {
    width: 0px;
    height: 0px;
}

.skill>p {
    font-size: 0px;
}

.typeSkill:hover .skill {
    border-radius: 7px;
    width: 13%;
    height: 27%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.typeSkill:hover .skill>img {
    width: 57%;
    height: 50%;
    transition: all .7s ease;
    margin-top: 15px;
}

.typeSkill:hover .skill>p {
    text-align: center;
    font-size: 0.85em;
    transition: all .7s ease;
    height: 15px;
    width: 98%;
    font-weight: bolder;
}

.waveBackground {
    background: url('./../../assets/commons/blackWave.svg');
}

.bottomPositionWave {
    bottom: -1000px !important;
}

@media only screen and (max-width: 1300px) {
    .bottomPositionWave {
        bottom: -1030px !important;
    }
}

@media only screen and (max-width: 1100px) {

    .typeSkill:hover {
        gap: 0px;
    }

    .typeSkill:hover .skill {
        width: 18%;
    }

    .typeSkill:hover .skill>p {
        font-size: 0.7em;
    }

    .bottomPositionWave {
        bottom: -1000px !important;
    }
}

@media only screen and (max-width: 1000px) {

    .skillsSection {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .videoContainer {
        height: 300px;
        display: flex;
        justify-content: center;
    }

    .videoContainer>video {
        margin: 0;
    }

    .typeSkill {
        height: 70%;
    }

    .typeSkill:hover {
        gap: 10px;
    }

    .typeSkill:hover .skill {
        width: 20%;
        height: 20%;
    }

    .typeSkill:hover .skill>img {
        width: 50px;
        margin-top: 10px;
    }

    .typeSkill:hover .skill>p {
        font-size: 1em;
    }

    .skillsContainer {
        width: 80%;
        margin: 0;
    }

    .bottomPositionWave {
        bottom: -1350px !important;
    }
}

@media only screen and (max-width: 600px) {

    .skillsSection {
        padding-bottom: 0;
    }

    .typeSkill:hover .skill>p {
        font-size: .85em;
    }

    .videoContainer>video {
        margin: 0;
        transform: scale(2);
    }

    .bottomPositionWave {
        bottom: -88em !important;
        width: 100vw;
        z-index: 100000;
    }
}