.skillsSection {
    height: 100%;
    width: 100%;
    background-color: #fdb1fd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10%;
    background-image: url('./../../assets/commons/blackBackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.videoContainer {
    z-index: 1000;
    width: 50%;
    height: 70%;
    overflow: hidden;
}

.videoContainer>video {
    margin-top: 50px;
    transform: scale(1.4);
    width: 100%;
}

.skillsContainer {
    right: 80px;
    top: 1050px;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 47%;
    margin: auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -7px;
}

.typeSkill {
    flex-basis: 17%;
    height: 60%;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 5px;
    display: flex;
    background-color: #e6f8ff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition:
        flex-grow .2s linear,
        background-color .3s ease;
}

.typeSkill>span {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.typeSkill>img {
    padding-right: 10px;
    width: 2.3em;
}

.typeSkill:hover {
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 14px;
}

.typeSkill:hover>span {
    display: none;
}

.typeSkill:hover>img {
    display: none;
}

.skill {
    width: 0px;
}

.skill>img {
    width: 0px;
    height: 0px;
}

.skill>p {
    font-size: 0px;
}

.typeSkill:hover .skill {
    border-radius: 7px;
    width: 13%;
    height: 27%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.typeSkill:hover .skill>img {
    width: 57%;
    height: 50%;
    transition: all .7s ease;
    margin-top: 15px;
}

.typeSkill:hover .skill>p {
    text-align: center;
    font-size: 0.85em;
    transition: all .7s ease;
    height: 15px;
    width: 98%;
    font-weight: bolder;
}

@media only screen and (min-width: 1500px) {

    .skillsSection {
        display: flex;
        align-items: center;
        width: 100%;
        height: 1000px;
        /* background-position-y: -100px; */
        /* background-position-x: -90px; */
        background-size: cover;
        align-items: center;
    }

}

@media only screen and (max-width: 1100px) {

    .typeSkill:hover {
        gap: 0px;
    }

    .typeSkill:hover .skill {
        width: 18%;
    }

    .typeSkill:hover .skill>p {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 1000px) {

    .skillsSection {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 1000px;
        background-size: cover;
        align-items: center;
    }

    .videoContainer {
        height: 260px;
        display: flex;
        justify-content: center;
    }

    .videoContainer>video {
        margin: 0;
    }

    .typeSkill {
        height: 70%;
    }

    .typeSkill:hover {
        gap: 10px;
    }

    .typeSkill:hover .skill {
        width: 20%;
        height: 20%;
    }

    .typeSkill:hover .skill>img {
        width: 90%;
        height: 50%;
        margin-top: 10px;
    }

    .typeSkill:hover .skill>p {
        font-size: 1em;
    }

    .skillsContainer {
        width: 80%;
        margin: 0;
    }

    .skill {
        box-shadow: none;
    }
}

@media only screen and (max-width: 600px) {

    .typeSkill:hover .skill>p {
        font-size: .85em;
    }

    .videoContainer>video {
        margin: 0;
        transform: scale(2);
    }
}