.skillsSection {
    height: 90vh;
    width: 100%;
    background-color: #fdb1fd;
    background-image: url('./../../assets/fondo2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}   

.skillsSection > video {
    z-index: 1000;
    height: 70%;
    width: 700px;
}

.skillsContainer {
    /* position: absolute;  */
    right: 100px;
    top: 1050px;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.skills {
    flex-basis: 15%;
    height: 60%;
    margin-bottom: 1em;
    border-radius: 5px;
    display: flex;
    background-color: #e6f8ff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 3px 3px rgb(0, 0, 0);
    transition: 
        flex-grow .2s linear,
        background-color .3s ease
}

.skills > span {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.skill {
    display: none;
    position: absolute;
}

.skills:hover {
    flex-grow: 1;
    background-color: #cde9f7;
}

.skills:hover > span {
    display: none;
}
 
.skills:hover .skill {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(auto);
}

.skills:active { 
    box-shadow: 1px 1px .1em #67adb5;
    background-color: #bde6fc;
    color: white;
} 

