.certificatesContainer {
    width: 100%;
}

.certificatesContainer > h1 {
    text-align: center;
}

.certificatesContainer > h2 {
    padding-top: 120px;
}

.images {
    height: 800px;
    margin-left: 248px;
    cursor: pointer;
}

.java {
    margin-left: -110px;
}

.fullStack {
    margin-left: 80px;
}

@media only screen and (max-width: 900px) {
    .certificatesContainer {
        height: 500px;
    }

    .java {
        margin-left: -27px;
    }
    
    .fullStack {
        margin-left: 20px;
    }

    .images {
        height: 200px;
        margin-left: 45px;
    }
}

 /* 900 - 700 - 400 */