.certificatesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificatesContainer>h1 {
    text-align: center;
}

.certificatesContainer>h2 {
    padding-top: 120px;
}

.imageContainer {
    height: 28rem;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
}

.image {
    width: 42rem !important;
    height: 100%;
    cursor: pointer;
}

.slickDots li button:before {
    padding-top: 20px;
    transform: scale(2);
    color: rgb(220, 136, 225);
}

@media only screen and (max-width: 700px) {
    .certificatesContainer {
        height: 40rem;
    }

    .slickDots li button:before {
        padding: 0;
    }

    .imageContainer {
        height: 22rem;
    }

    .image {
        height: 20rem !important;
    }
}

@media only screen and (max-width: 490px) {
    .certificatesContainer {
        height: 35rem;
    }

    .slickDots li button:before {
        padding-top: 0;
    }

    .imageContainer {
        height: 17rem;
    }

    .image {
        height: 15rem !important;
    }
}