html {
  scroll-behavior: smooth;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Poppins', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #fdb1fd;
  font-size: 50px;
  text-shadow: 3px 3px 10px rgb(255, 0, 255)
}

h2 {
  color: #fdb1fd;
  font-size: 45px;
  text-shadow: 3px 3px 10px rgb(255, 0, 255);
  text-align: center;
}

/* h3 {
  color: rgb(255, 0, 255);
} */

h4 {
  color: black;
  font-size: 40px;
  color: black;
  text-shadow: 3px 3px 5px rgb(102, 102, 102);
  margin-top: 20px;
}


/* button,
.project > a {
  background-color: fuchsia;
  border-radius: 10px;
  font-size: 20px;
  position: relative;
  border: none;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

button,
.project > a::after {
  content: "";
  background: #ffadff;
  position: absolute;
  z-index: -1;
  color: black;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(45deg) scale(0, 1);
  transition: all 0.3s ease;
}
  
button,
.project > a:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(45deg) scale(1, 1);
} */

